<h1>Cocktails </h1>

<%= link_to "ajoutez un nouveau cocktail", new_cocktail_path, class: "btn btn-primary" %>
<% @cocktails.each do |cocktail| %>
  <h2><%= cocktail.name %></h2>

  <% end %>

  <%= link_to"allezvoir", cocktail_path(cocktail), class: "btn btn-success" %>
<% end %>
